body {
  background-color: #1c1c1c;
  font-family: 'Arial', sans-serif;
}

.imgScroll {
  position: absolute;
  left: 0;
  padding: 60px 0;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

.imgScroll div {
  display: flex;
  animation: animate1 40s linear infinite;
  animation-delay: -60s;
}

.imgScroll div:nth-child(2){

  animation: animate2 40s linear infinite;
  animation-delay: -40s;
}

.imgScroll:hover div,
.imgScroll:hover div:nth-child(2){
  animation-play-state: paused;
}


@keyframes animate1 {
  0%{
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0%{
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}

.imgScroll div img {
  margin: 0 25px;
  max-width: 300px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px #7289da;
  transition: all 0.3s ease;
}

.imgScroll div img:hover {
  border: 1px solid #7289da;
  transform: scale(1.2);
  box-shadow: 0px 0px 20px #7289da;
}

.imgScroll div:hover img {
  opacity: 0.05;
  filter: blur(5px);
}

.imgScroll div img:hover {
  opacity: 1;
  filter: blur(0px);
}

/* Estilos para pantallas móviles */
@media only screen and (max-width: 767px) {
  
  .img {
    width: 100%;
  }
}

/* Estilos para pantallas de tableta */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .img {
    width: 48%;
  }
}

/* Estilos para pantallas de escritorio */
@media only screen and (min-width: 992px) {
  .img {
    width: 23%;
  }
}